# sphinx
sphinx>=3.2.1,<4.0.0
sphinx_rtd_theme
recommonmark
sphinxcontrib-django

# autodoc
django>=3.1.1,<4.0.0
django-celery-beat>=2.0.0
django-bootstrap-form
django-sortedm2m
django-esi>=1.5,<3.0
celery>=4.3.0,<5.0.0,!=4.4.4
celery_once
passlib
redis>=3.3.1,<4.0.0
