# sphinx
sphinx>=4,<5
sphinx_rtd_theme
myst_parser
sphinxcontrib-django

# autodoc
django>=3.1.1,<4
django-celery-beat>=2
django-bootstrap-form
django-sortedm2m
django-esi>=1.5,<3
celery>=4.3,<5,!=4.4.4
celery_once
passlib
redis>=3.3.1,<4
